@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  body {
      height: 100vh;
      padding: 0;
      margin: 0;
  }
  @media (min-width: 640px) {
    #sketch-container {
        height: 40rem;
        width: 40rem;
    }         
}

  #sketchpad {
    @apply grid;
    grid-template-rows: repeat(var(--grid-rows), minmax(0, 1fr));
    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
  }

  .pixel {
    /* box-sizing: border-box; */
    /* height: auto; */
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    color: transparent;
  }

  .slider {
    -webkit-appearance: none;
  }

  .slider::-webkit-slider-thumb {
    @apply rounded-full appearance-none bg-indigo-900 cursor-pointer;
    -webkit-appearance: none; /* Override default look */
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
  }
  
  .slider::-moz-range-thumb {
    @apply rounded-full appearance-none bg-indigo-900 cursor-pointer;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
  }

  .reset {
    @apply bg-none;
  }